*{
    padding:0px;
    margin:0px;
}
body{
  background: #ded4d4;  
}
.row{
    padding:0px;
    margin:0px;
}
.build {
    display: inline-block;
    width: 100%;
    color: #357ebd;
    text-align: center;
}
.form-horizontal .form-group{
    margin:0px;
    padding: 0px;
    margin-bottom: 15px;
}
.btn-link{
    padding:6px 0px;
}
.main-body{
    width: 100%;
    max-width: 450px;
    margin: auto;
    font-size: 16px;

}
.main-body .main-container{
    padding:0px 15px;
}
.main-body .homenav{
    padding-top: 15px;
}
.homenav .nav > li {
   
    display: inline-block;
    width: 19.35%;
    text-align: center;
}
.homenav .nav > li > a{
    padding:10px 0px;
    background: #f0f0f0;
    color: #428bca;
    font-size: 16px;
 }
.homenav .nav > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #000;
    background-color: #b9c9d6;
}
.show-city{
 margin:10px 0px;
}
.home-content{
    margin-top: 10px;

}
.home-content div{
    padding:0px;
}
.content-foot {
    font-size: 0px;
    margin-top: 10px;
}
.content-foot a {
    display: inline-block;
    border-radius: 5px;
    background: #428BCA;
    color: #fff;
    font-size: 16px;
    padding: 3px 8px;
    margin: 3px;
}
.footer-span {
    display: inline-block;
    border: 1px solid #428BCA;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    font-size: 0;
}
.footer-span .footer-spans {
    display: inline-block;
    width: 13.2%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    color: #357ebd;
    font-size: 16px;
}
.world-chat {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}
.world-chat .chat-row {
    margin: 10px auto;
}
.officer-content {
    border: 1px solid #428BCA;
    border-radius: 4px;
    padding: 10px 0px;
    min-height: 14em;
}
.officer-content .city-officer {
    padding: 0em 1em;
}
.officer-content .officer-status {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.home-content .army-content {
    border: 1px solid #428BCA;
    border-radius: 4px;
    padding: 10px 0px;
    text-align: center;
}
.loginInput {
    margin-top: 20px;
}
.loginInput .radios{
   margin:10px ;
   font-weight: 400;
}
.radios label{
    font-weight: 400;
} 
.loginButton {
    width: 70%;
    margin: 20px auto;
}
.officer-list{
    padding:3px 1em!important;
}
.officer-list .officers-name{
    display: inline-block;
    width: 5em;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}
.officer-list  .show-officer-item{
    margin:5px 0px;
}
.show-building-item .item-a{
    text-align: center;
}
.part-body .show-page-btn{
    width: 70%;
    margin: 10px auto;
    text-align: center;
}
.map_input {
    margin:5px 0px;
}
.map_input input{
    width: 2em;
    text-align: center;
    margin:0px 5px;
}
.part-body.trade-border{
    border:1px solid #428BCA;
    padding:5px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}
.show-center{
    text-align: center;
}
.part-body .show-username{
    text-align: left;
    overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显示*/
}
.showbuild{
    top:30px;
}
.showbuild .modal-header{
    padding:10px 15px;
}
.showbuild .show-description{
    padding:5px 0px;

}
.showbuild  .modal-body{
    padding:5px 15px;
}
.row.smile{
    color:green;
}
.row.frown{
    color:red;
}
.showbuild .modal-body .row div{
    padding:0px 5px;
}
.showbuild .modal-footer{
    padding:10px 15px;
}
.show_cannot{
    color:red;
    padding-left: 15px;
}
@media screen and (max-width:330px){
    .officer-list .officers-name{
        width: 4em;
    }
    .officer-list .officers-power{
        font-size: 14px;
    }
}
