.show-add{
    width: 1000px;
    margin:20px 50px;
}
.header{
    width: 100%;
    height: 60px;
    background: #006080;
    color:#fff;
}
.header .title{
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    padding-left: 20px;
}
.side-bar{
    width: 200px;
    height: 120vh;
    position: absolute;
    left: 0;
    top:60px;
    background: #006080;
    color:#fff;
    padding:30px 20px;
    font-size: 20px;
    border-top: 1px solid #fff;
}
.side-bar .show-tab{
    width: 150px;
    margin:10px auto;
}
.side-bar a{
    color:#fff;
}
.body-content{
    padding: 30px 30px 0px 250px;
}
.show-pagename{
    font-size: 22px;
    
}
.show-resource{
    display: inline-block;
    width: 90px;
    text-align: center;
}
.inputNum{
    padding:0;text-align: center;
}